
<div class="title xxlarge-font font-4 module-header">Before You Begin</div>


<div class="question-container primary-text-color">

	 <div class="question-label large-font font-2">
		<label for="">
			Are you using this app for yourself or someone else?
		</label>
	</div>


		 <ons-list>

			<div class="question-responses">


					   <ons-list-item class="question-event question-response">

							 <!-- INPUT FIELD -->
							<label class="checkbox">
								<ons-radio input-id="start-1" id="AUDIENCE_1" name="AUDIENCE" data-type="question" data-field-type="radio" value="1"></ons-radio>
							</label>
							<label for="start-1" class="medium-font font-2" style="width:100%; display:inline-block; margin-left: 24px; margin-top: -24px;">
								Myself
							  </label>

					  </ons-list-item>
					  <ons-list-item class="question-event question-response">

							 <!-- INPUT FIELD -->
							<label class="checkbox">
								<ons-radio input-id="start-2" id="AUDIENCE_2" name="AUDIENCE" data-type="question" data-field-type="radio" value="2"></ons-radio>
							</label>
							<label for="start-2" class="medium-font font-2" style="width:100%; display:inline-block; margin-left: 24px; margin-top: -24px;">
								Someone else
							  </label>

					  </ons-list-item>
			 </div>

		</ons-list>


</div>



					
						

			  
			  
			  
			  
			  
			 