   <div class="button-message-left-container highlight-color-2 medium-font primary-text-color" onclick="myNavigator.popPage();">
		<button class="button-message-left highlight-color-2 medium-font primary-text-color">
		<ons-icon icon="ion-arrow-left-b" class="message-list-icon"></ons-icon>
		Back</button>

   </div>
     
     <div class="message-card message-card-2">
      <div class="title xxxlarge-font font-4">{{title}}</div>
      <div class="content font-2">
       {{{label}}}
      
      </div>
       
  </div>
