  
     
     <div class="message-card message-card-2">
      <div class="title xxlarge-font font-4">{{title}}</div>
      <div class="content font-2">
       {{{label}}}
      
      </div>
      
 	 </div>
