



	<ons-card class="primary-text-color font-1" style="background:#ffffff;color:#191717;">
		<i class="fas fa-file-contract" style="color: #7283cd; margin-right: 5px; font-size: 25px;"></i>Summary of Your Mandatory Responsibility:<span style="font-weight:bold;"> {{title}}</span>
		
	</ons-card>
	
<!--{{#each display}}
			<div><i class="fas fa-check-circle success-circle green-check"></i>{{title}}</div>
		{{/each}}-->