 <div class="message-card">
      <div class="title xxxlarge-font font-4">{{title}}</div>
       <div class="">
     	{{{desc}}}
     </div>
     <div class="report">
     	{{{report}}}
     </div>
 </div>
