<div id="reporting-call">


	<ons-card class="tertiary-text-color font-1 card card-list">
	
		<p>If your incident involves a patient, contact Public safety in the case of imminent threat.</p>
		<ons-list>
			<ons-list-item>
				<div class="left">
					<ons-button class="button-rev"><ons-icon icon="ion-ios-telephone-outline" class="xlarge-font"></ons-icon><a href="tel:1-503-494-4444">Call</a></ons-button> 
				</div>
				<div class="center">
					Public Safety 1-503-494-4444
				</div>
				
			</ons-list-item>

		
	</ons-card>	

	<ons-card class="tertiary-text-color font-1 card card-list">
		<p>Otherwise call:</p>
		<ons-list>
			<ons-list-item>
				<div class="left">
						<ons-button class="button-rev"> <ons-icon icon="ion-ios-telephone-outline" class="xlarge-font"></ons-icon><a href="tel:1-503-494-5148">Call</a></ons-button>
				</div>
				<div class="center">
					AAEO 503-494-5148
				</div>
				
			</ons-list-item>
			<ons-list-item>
				<div class="left">
					<ons-button class="button-rev"><ons-icon icon="ion-ios-telephone-outline" class="xlarge-font"></ons-icon><a href="tel:1-503-494-7959">Call</a></ons-button> 
				</div>
				<div class="center">
					Public Relations 503-494-7959
				</div>
				
			</ons-list-item>
	
	</ons-card>	
</div>
