 <div class="button-message-left-container highlight-color-2 medium-font primary-text-color" onclick="myNavigator.popPage();">
		<button class="button-message-left highlight-color-2 medium-font primary-text-color">
		<ons-icon icon="ion-arrow-left-b" class="message-list-icon"></ons-icon>
		Back</button>

 </div>
  <div id="community_resources_list"></div>
   

