<ons-list-item>
  <div class="center">
	<span class="list-item__title">{{name}}</span>
	<span class="list-item__subtitle">{{phone1}}</span>
	<span class="list-item__subtitle">{{phone2}}</span>
	<span class="list-item__subtitle">{{url}}</span>
  </div>
</ons-list-item>
